/*--course-box-model--*/
.inner-wrap {
    /* border&shadow */
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 4px 4px 4px #637F83;
    -webkit-box-shadow: 4px 4px 4px #637F83;
    box-shadow: 4px 4px 4px #637F83;
    background-color: #637F83;
}
.inner-wrap:hover{

    -moz-box-shadow: 12px 12px 12px #e4551d;
    -webkit-box-shadow: 12px 12px 12px #e4551d;
    box-shadow: 12px 12px 12px #e4551d;
    color: #fff;
    text-decoration: none;
    transition-duration: .3s;
    background: #e4551d;

    -moz-border-radius: 0;
    border-radius: 0;
}
.inner-wrap:hover>.inner-top{

    transition-duration: .3s;
    color: #fff;
    text-decoration: none;
    background: #e4551d;
}
.inner-top {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #637F83;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
}

.course-box-model {
    margin-bottom: 2em;
}

.course-box-model a {
    text-decoration: none;
    color: white;
}

.inner-middle {
    background: url(../img/course-box.jpg) no-repeat 0 0;
    background-size: contain;
    min-height: 100px;
}

.inner-bottom {
    padding: 0 0.4em 0.6em 0.4em;
    color: white;
}

.course-type {
    float: right;
}

/*--course--*/
.course-professor-panel {
    margin-top: 20px;
}

/*--courses->chapter--*/
.row {
    margin-bottom: 1em;
}

.chapter-text-input {
    padding-left: 0;
}

#id_chapter_description {
    resize: none;
}

.message {
    text-align: center;
}

.generic-table {
    /* border&shadow */
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 8px 8px 8px #637F83;
    -webkit-box-shadow: 8px 8px 8px #637F83;
    box-shadow: 8px 8px 8px #637F83;
}

.generic-table td {
    word-break: break-all;
}

.generic-table th {
    background-color: #637F83;
    color: white;
}

.generic-table th:nth-last-child(-n+2) {
    text-align: center;
}

.generic-table td:last-child {
    text-align: center;
}

.btn-primary {
    background-color: #637F83;;
}

label {
    color: #637F83;
}

textarea {
    resize: none;
}