<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% include 'head_css.html' %}
</head>
<body>
{% include 'javascript.html' %}
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}

</div>


<footer class="footer">



  <div class="container">
    
    <nav class="footer-nav">
          
     
    
        
        

      
       
    <ul class="nav nav-pills nav-fill">

      <li class="nav-item">
        <a class="nav-link active" href="#">Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Twitter</a>
      </li>
      <span> <h1>SOCIAL</h1></span>
      <li class="nav-item">
        <a class="nav-link" href="#">Instagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'faq' %}">Linkedin</a>
      </li>
    </ul>
        
      
    </nav>
 

  </div>

</footer>
