<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% include 'head_css.html' %}
</head>
<body>
{% include 'javascript.html' %}
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}

</div>

<footer class="footer">
  <div class="footer-grid">
    <nav class="footer-nav">
      <ul>
        <li>
          <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i><a href="/" target="_blank" rel="noopener noreferrer">2019 edition</a></button>
        </li>
        <li>
        <button type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-list"></i>Facebook </button></li>
        <li>
          <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i> <a href="" target="_blank" rel="noopener noreferrer">Instagram</a></button>
        </li>
        <li>
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i> <a href="" target="_blank" rel="noopener noreferrer">Twitter</a></button>
        </li>
        <li>
          <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i><a href="" target="_blank" rel="noopener noreferrer">Contact us</a></button>
        </li>
      </ul>
    </nav>
    <p class="footer-copyright">&copy; 2020 Find Educate All rights reserved</p>


  </div>
</footer>



</body>
</html>