{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <div class="row container-fluid text-center" style="background: #3a3a3a;color: white"><h3
            style="margin-top: 10px">Registrations are open</h3></div>
    <!----start-banner---->

    <div id="countdown" class="banner">
        <div id="overlay">
            <div class="container"
                 style="height: 100%;justify-content: center;align-content: center">
                <div id="content-video" class="row" style="margin-top: 100px">
                    <div class="col-sm-7 justify-content-center" style="justify-content: center">
                        <div class="row">
                            <iframe width="100%" height="400px"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-sm-5 d-flex align-items-center">
                        <b class="row text-center " style="color:white;font-weight: bolder;display: block;
                            text-align: center;
                            font-size: 50px;">THE EVENT STARTS IN!
                        </b>

                        <div class="row text-center" id="demo"
                             style="position: relative;color: white;font-weight: bold;font-size: 2rem;padding:1vh"></div>
                        <div class="row text-center ">
                            <a href="/accounts/register">
                            <button type="button" class="btn btn1 btn-lg">Register Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------Quote--------->
    
    <div id="about" class="about_background">
        <div class="container about text-center">
            <div class="row" id="about-row">
                <div class="col-sm-6">
                    <div class="row" style="font-size: 36px;font-weight: bold;color: #e4551d">ABOUT THE SPEAKER</div>
                    <div class="row" style="font-size: 24px;">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        <ipsum></ipsum>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="{% static  'img/Sandeep-Maheshwari-Motivation-Speaker-In-India-300x218.jpg' %}"
                         height="218" width="300" alt="image of the speaker">
                    <div class="row" style="margin: 1vh;font-size: 3vh">SANDEEP MAHESHWARI</div>
                    <div class="row" style="margin: 1vh;font-size: 2vh">Motivational Speaker</div>
                    <div class="row" style="margin: 0.5vh;font-size: 1.5vh">Other info</div>
                </div>
            </div>
        </div>
    </div>
    <div id="quote" style="background-color: #242327">
        <div class="container">
            <div class="row">
                <div class="col-8" style="padding-top: 4vh">
                    <div class="row" style="margin: 2vh">
                        <div class="blockquote-wrapper">
                            <div class="blockquote">
                                <h1>
                                    Intuitive design happens when <span style="color:#ffffff">current knowledge</span>
                                    is the same as the <span style="color:#ffffff">target knowledge.</span>
                                </h1>
                                <h4>&mdash;Jared Spool<br><em>Web Site Usability: A Designer's Guide</em></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row screen-container">
                        <div class="screen-body">
                            <div class="screen-body-item left">
                                <div class="app-title">
                                    <span>CONTACT</span>
                                    <span>US</span>
                                </div>
                                <div class="app-contact">CONTACT INFO : +123456789</div>
                            </div>
                            <div class="screen-body-item">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="NAME">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="EMAIL">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="CONTACT NO">
                                    </div>
                                    <div class="app-form-group message">
                                        <input class="app-form-control" placeholder="MESSAGE">
                                    </div>
                                    <div class="app-form-group buttons">
                                        <button class="app-form-button">CANCEL</button>
                                        <button class="app-form-button">SEND</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <script>
        document.getElementById("countdown").setAttribute("style", "min-height:" + (window.innerHeight - 140) + "px")
        document.getElementById("overlay").setAttribute("style", "min-height:" + (window.innerHeight - 140) + "px;background-color:rgba(0, 0, 0, 0.5)")
        document.getElementById("about").setAttribute("style", "min-height:" + (window.innerHeight) + "px")
        document.getElementById("about-row").setAttribute("style", "margin-top:" + (window.innerHeight / 3.5) + "px")

        var countDownDate = new Date("Jan 5, 2021 ").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = " <span class='countdown'>" + days + " d " + "</span>" +
                " <span class='countdown'>" + hours + " h " + "</span>" +
                " <span class='countdown'>" + minutes + " m " + "</span>" +
                " <span class='countdown'>" + seconds + " s " + "</span>";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
{% endblock %}

